# Configuración básica de Django
SECRET_KEY=django-insecure-tu-clave-aqui-muy-secreta
DEBUG=True
ALLOWED_HOSTS=*

# Configuración de Base de Datos
DATABASE_NAME=db_streetgallery
DATABASE_USR=root
DATABASE_PWD=
DATABASE_HOST=mysql
DATABASE_PORT=3306

# Configuración de Email (Mailtrap)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=2525

# Configuración de PayPal y Admin
PAYPAL_TEST=True
ADMIN_USER_EMAIL=
PAYPAL_USER_EMAIL=